body {
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    height:100%;
}
#footer {
    margin: 10px auto 0px auto;
    padding: 10px 10px 75px;
    background: rgba(180,150,20,0.55);
    color: #FFF;
    box-shadow: 0px 10px 10px -8px #AAA inset;
}
#footer li a {
    color:#FFF;
}
#footer .row {
	margin:0px auto;
	width:85%;
}
.socialbtns {
    color:#FFF;
    display:inline-block;
    text-decoration:none;
    width:35px;
    height:35px;
}
.socialbtns:hover {
    color:#FE0;
    text-shadow:1px 1px 1px #000;
}
.partners {
    margin-bottom: 8px;
    -webkit-filter: drop-shadow(0px 0px 2px #FFF);
    filter: drop-shadow(0px 0px 2px #FFF);
}
#overlayC {
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: rgba(255,195,145,0.95);
	font-family: 'Quicksand', sans-serif;
	z-index:199;
	padding:65px 15px 50px 15px;
	overflow:auto;
}
.closeX {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navC {
	top:0;
	left:0;
	height: 50px;
	padding: 5px;
	position: fixed;
	width: 100%;
	z-index: 995;
	box-shadow: 0px 1px 5px #AAA;
	font-family: 'Quicksand', sans-serif;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 90%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(90%,rgba(241,241,241,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 90%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 90%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 90%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 90%,rgba(235,235,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}
.logo {
	width: 40px;
	box-shadow: 1px 1px 6px #999;
	margin-right: 10px;
}
.headerC, .headerC:hover {
	font-size: 18px;
	font-weight: 600;
	color: #444;
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
}
.menuC {
  background: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  color: #000;
  font-weight: 600;
  height: initial;
  top: 14px;
  right: 55px;
  position: absolute;
  text-transform: uppercase;
}
#spacer { height:55px; }
#nav-toggle { cursor: pointer; padding: 10px 30px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 30px;
  background: black;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
#nav-toggle span {
  top: 23px;
  right: 20px;
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
  padding: 0;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}
.btn-menu {
  border: solid 1px rgba(235,175,125,1);
  border-radius: 10px;
  background: rgba(255,255,255,0.65);
  color: #555555;
  font-weight: bold;
  padding: 8px 5px;
  margin-bottom:5px;
}
.btn-menu i {
  left: 30px;
  position: absolute;
  top: 9px;
  font-size: 20px;
}
