    .unitBox {
      border:3px dotted #ddf;
      margin:10px auto;
      border-radius:15px;
      padding:15px;
      text-align: center;
      display:block;
      width:125px;
    }
    .sumIcon {color:#090;}
    .unitBox:hover {background:#eef;}
    .leader {
    	position: relative;
    	bottom:20px;
    	width: 80px;
    	background: #fee;
    	border: 1px solid #CCC;
    	border-radius: 5px;
    	padding: 0 10px;
    	margin:0 auto;
    	font-weight: bold;
    	color:red;
    }
    #inactiveSpace {display:none};
    .htfixed {height:135px;}
    .htfixed2 {height:120px;}
    .cross {
    	font-size: 30pt;
    	line-height: 20px;
    }
    .badge {
    	float:left;
    	color:red !important;
    }
    .bbBtns, .ubbBtns, .lsBtns {
    	width:95%;
    	text-align: center;
    }
    .unitFound {padding:3px 0 !important;}
    .fRarity {
        position: absolute;
        color: #FD0;
        border-radius: 8px;
        bottom: 4px;
        margin: 0;
        left: 16px;
        white-space:nowrap;
        padding: 0 5px;
        font-size: 10pt;
        font-weight: bold;
    }
    .unitFound, .unitSelected {
    	width:70px;
    	height:auto;
    	padding:0;
    	position:relative;
    	cursor:pointer;
    }
    .untiIcon {
    	width:70px;
    	height:auto;
    }
    .clear {clear:both;}
    .upper {
        text-transform:uppercase;
    }
    .btn {
    	margin-bottom:8px;
    }
