    .btn-default[disabled] {
        cursor: help !important;
    }
    #dreamcontent {width:100%;height:100%;border:0;}
    h3 {
        font-weight:bold;
    }
    th {text-align:center;width:50%;background:#DDF; !important;}
    .effHead{padding:0 !important;height:2px;background:#CCF;}
    .mkBox {
        position: absolute;
        border: 1px solid red;
        padding: 4px 12px;
        top: 0;
        left: 5px;
        display:none;
        background: white;
        color: red;
        z-index:+2;
        cursor: pointer;
    }
    .mkBox:active {
        background: red;
        color: white;
        cursor: pointer;
    }
    .marker {
        border: 1px dashed red !important;
        color: red !important;
        font-weight: bold !important;
    }
    .pimptxt {margin:0;color:#C00;}
    .badge {padding:2px 5px !important;}
    .dBtn {margin-top:-8px;min-width:24px;}
    .imgDMG {width:80px;height:80px;}
    #expandAll {
        width:93%;
        margin:5px 0 20px;
    }
    #squadBox {padding-top:20px;}
    div[id^='spheres'], div[id^='stats'] {
        margin:0 auto;
        width:180px;
        padding:5px;
        background:#EEF;
    }
    div[id^='TYPEHEADER'] {
        font-weight:bold;
    }
    .affix {
        position: fixed;
        padding: 10px 0 0 0;
        width: 100%;
        top: 50px;
        background: #fff;
        z-index: 990;
        box-shadow:0 1px 3px #AAA;
    }
    .unitBox {
      border:3px dotted #ddf;
      margin:10px auto;
      border-radius:15px;
      padding:15px;
      text-align: center;
      display:block;
      width:125px;
      height:105px;
    }
    .dropZone {background:#EFE;}
    .dropHover {background:#ECF;}
    .sumIcon {color:#090;}
    .unitBox:hover {background:#eef;}
    .leader {
    	position:absolute;
        left: 50%;
        margin-left: -40px;
        top: -5px;
    	width: 80px;
    	background: #fee;
    	border: 1px solid #CCC;
    	border-radius: 5px;
    	padding: 0 10px;
    	font-weight: bold;
    	color:red;
    }
    #inactiveSpace {
        display:none;
        clear:both;
    }
    #redditShare {
        width:90%;
        margin:10px auto;
    }
    .htfixed {min-height:135px;}
    .htfixed2 {
        min-height:120px;
        margin:10px 0;
    }
    .cross {
    	font-size: 30pt;
    	line-height: 20px;
    }
    .badge {
    	float:left;
    	color:red !important;
    }
    .bbBtns, .ubbBtns, .lsBtns {
    	width:95%;
    	text-align: center;
    }
    .unitFound, .unitRecommend {padding:3px 0 !important;}
    .sRarity {
        position: absolute;
        color: #FD0;
        border-radius: 8px;
        left: 50%;
        margin-left: -33px;
        bottom: 1px;
        width: 30px;
        white-space: nowrap;
        padding: 0 5px;
        font-size: 10pt;
        font-weight: bold;
    }
    .fRarity {
        position: absolute;
        color: #FD0;
        border-radius: 8px;
        bottom: 4px;
        margin: 0;
        left: 16px;
        white-space:nowrap;
        padding: 0 5px;
        font-size: 10pt;
        font-weight: bold;
    }
    .unitFound,.unitSelected,.unitRecommend {
    	width:70px;
    	height:76px;
    	padding:0;
    	position:relative;
    	cursor:pointer;
    }
    .untiIcon {
    	width:70px;
    	height:auto;
    }
    .clear {clear:both;}
    .upper {
        text-transform:uppercase;
    }
    .btn {
    	margin-bottom:8px;
    }
